/* layout */
body {
    background: #212121;
}

#contents {}

#section1 {height: 4500px;z-index:1000;}

#section2 {z-index:2000; height:4500px;}

#section3 {z-index:3000; height:4500px;}

#section4 {z-index:4000; height:4500px;}

#section5 {}

#section6 {}

.container{
    width:70vw; 
    margin:0 auto; 
    overflow:hidden; 
    box-sizing: border-box; 
    position:absolute;
    transform: translate(-50%,0%);
    left:50%;
    top:10vh;

}

.container h3 span{
    font-size:3vw; 
    font-weight: 700; 
    width: 35%; 
    float:left;
    line-height: 3vw;
    /* position: absolute;
    left:150px; */
}

 .container h3 span em{
    font-weight: 100; 
    font-size: 1.8vw;
    
}

.container .port_text span{
    font-weight: 300; 
    width: 65%; 
    /* position: absolute;  */
    text-align: justify; 
    line-height: 2.2vw; 
    font-size: 1vw; 
    font-weight: 400;
    float:right;
    display: block;
}


.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
}

img {
    width: 100%;
    margin:0 auto;
}

.scroll {
    position: fixed;
    right: 10px;
    top: 10px;
    border: 1px solid #000;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #000;
    z-index: 5000;
}

/* sec1 */
.sec1 {}

/* lp판 이미지 */
.sec1 .circle {
    max-width: 28vw;
    top:50%;
}

.sec1 .text {
    white-space: nowrap;
    left: 30px;
    top: 30px;
}

.sec1 .text span {
    display: block;
}

.sec1 .text .t1 {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 4vw;
    line-height: 4vw;
    overflow: hidden;

}

.sec1 .text .t2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 6.5vw;
    line-height: 6.5vw;
    overflow: hidden;

}

/* 메인 탑 텍스트 */
.sec1 .main_text_top {
    white-space: nowrap;
    left: 30px;
    top: 30%;
    z-index: 1400;
}

.sec1 .main_text_top .main_text_top_s01 span {
    display: block;
}

.sec1 .main_text_top .main_text_top_s01 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 2vw;
    overflow: hidden;
}

/* 메인 바텀 텍스트 */
.sec1 .main_text_bottom {
    white-space: nowrap;
    top:auto;
    bottom:30px;
    left:30px;
}
.sec1 .main_text_bottom span{
    display: block;
}

.sec1 .main_text_bottom .main_text_bottom_s01 {
    font-weight: 300;
    font-size: 1vw;
    line-height: 1.8vw;
    overflow: hidden;
}

/* 메인 라이트 텍스트 */
.sec1 .text3 h1 {
    font-size: 3vw;
    color: #333;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    width: 10%;
    height: 100px;
    background: #fff;
    text-align: center;
    overflow: hidden;
    font-family: 'Noto Serif KR', serif;
}

.sec1 .text3 h1 em {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    font-weight:300;
}
.sec1 .text3 h1 em span{
    font-size: 1.2vw;
    margin-top:25px;
    display: block;
    font-weight:100;
}
/* .main_t_r_t{
    white-space: nowrap;

}

.main_t_r_t .main_t_r_t_01{
    font-size: 2vw; 
    font-weight: 200;
    line-height: 3vw; 
    z-index: 1400;
    text-align: right;
    right:auto; 
    top:auto;
    z-index: 1500;


}
.main_t_r_t .main_t_r_t_02{
    font-size: 1.3vw; 
    font-weight: 200;
    line-height: 3vw; 
    z-index: 1400;
    text-align: right;
    right:auto; 
    top:auto;
    z-index: 1500;

}
.main_t_r_t span{ display: block; text-align: right;} */

.main_t_r_b span{ 
    display: block; 
    font-size: 1.3vw; 
    background:url(../img/follow.png) no-repeat right bottom;
    padding-right:45px;
    padding-bottom:1.5vh;
    background-size:10vw;

    overflow:hidden;

}
.main_t_r_b{right:30px; top:auto; bottom:30px; text-align: right; line-height: 30px; overflow:hidden;}

/* mode */
.mode{right:30px; top:30px; }
.mode li{float:right; line-height:26px; }
.mode li.mode_round{ 
    width: 74px; 
    border:0.5px solid #fff; 
    border-radius:18px; 
    box-sizing: border-box;
    line-height:26px; 
    height:29px; 
    padding:4px 5px;
}
.mode li span{display: inline-block; margin:0 10px;}
.mode li span.mode_crice{
    width: 19px; 
    height: 19px;
    border-radius: 50%;
    background-color: #fff; 
    display:block;
    text-align: right;
        line-height:26px; 
        margin:0;
}

/* sec2 */
.sec2{ 
    height:100vh;
    width:100vw; 
    top:0; 
    left:0; 
    overflow:hidden;
}
.sec2-1{ 
    position:relative;
    top:0;
    right:0%; 
    height:100vh; 
    width:100vw;  
}

/* 썸네일 */
.cont_left{
    position:absolute; 
    width:35vw; 
    top:50%; 
    left:10%;  
    color:#fff;
}

.cont_left p:first-child{
    font-size:0.8vw; 
    font-weight:100;
    position:relative;
}

.cont_left p:first-child:after{
    content:''; 
    width: 100%; 
    height: 1px; 
    background-color: #fff; 
    position:absolute; 
    top:2.9vh; 
    left:0;
}
.cont_left p:nth-child(2){font-size:3vw; font-weight:600;padding-top:3vh; text-align: justify;}
.cont_left p:nth-child(2) span{font-size: 1.5vw;}
.cont_left p:nth-child(3){margin-top:20px; font-size: 1vw; line-height:160%;}
.cont_left p:nth-child(4){margin-top:15px; font-size: 0.8vw; font-weight:100;}

/* 썸네일 버튼 */
.cont_left .cont_btn{
    overflow:hidden; 
    margin-top:50px;
}

.cont_left .cont_btn li{
    float:left;
}

.cont_left .cont_btn li a{
    display: inline-block; 
    padding:10px 18px; 
    background-color: #fff; 
    color:#333; 
    margin-right:10px; 
    font-size: 0.8vw; 
    border-radius:0 5px 0 5px;
}

.sec2-1 .cont_left .cont_btn li.cont_btn_a a{
    background-color: #F37092; 
    color:#fff;
}

.sec3 .cont_left .cont_btn li.cont_btn_a a{
    background-color: #5E5D61; 
    color:#fff;
}

.cont_left .cont_btn li.cont_btn_a a{
    background-color: #72B9E4; 
    color:#fff;
}
.cont_left .cont_btn li.cont_btn_a a{
    background-color: #8C77D1; 
    color:#fff;
}

/* 미쿵 썸네일 이미지  */
.sec2 .sec2-1 .cont_right{
    position:absolute; 
    background:url(../img/mikung_bg.jpg)no-repeat center; 
    overflow:hidden; 
    width:100vw; 
    height:180vh; 
    background-size: cover;
}
.sec2 .sec2-1 .cont_right img{
    position:absolute; 
    display: block;
    margin:0 auto; 
    transform:translateY(-50%); 
}

.sec2 .sec2-1 .cont_right img:first-child{
    z-index: 2580;  
    left:38%;
}

.sec2 .sec2-1 .cont_right img:nth-child(2){
    z-index: 2480;
    left:43%;
}
.sec2 .sec2-1 .cont_right img:nth-child(3){
    z-index: 2380;
    left:22%;
}

.sec2 .sec2-1 .cont_right img:nth-child(4){
    z-index: 2270;
    left:30%;
}

.sec2 .sec2-1 .cont_right img:nth-child(5){
    z-index: 2160;
    left:28%;
}
.sec2 .sec2-1 .cont_right p{
    font-weight:800; 
    font-size:12vw; 
    color:rgba(255,255,255,0.2); 
    position:absolute; 
    top:50%;
}
.sec2 .sec2-1 .cont_right p span{font-size:200px;}

/* sec2-2 */
.sec2-2{
    background-color:#F1F2F4;   
    position:relative;
    height:100vh; 
    width:100vw;  
    color:#000;
    box-sizing: border-box;
}

.sec2-2 .mikung_desktop{
    width:65vw; 
    margin:0 auto; 
    display: block; 
    position: relative; 
    transform: translate(-75%,-50%);
    top:50%;
    left:50%;
    z-index: 2400;

}
.sec2-2 .mikung_desktop_bg{
position: absolute;
left:50%;
top:60%;
width:50vw;
display: block;
transform: translate(-50%,-52%);
z-index:2200;
}
.sec2-2 .mikung_desktop_b{
    width:53vw; 
    margin:0 auto; 
    display: block; 
    position: absolute; 
    left:50%;  
    z-index:2300;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
}
.sec2-2 .mikung_desktop_c{
    width:53vw; 
    margin:0 auto; 
    display: block; 
    position: absolute; 
    left:50%;  
    z-index:2300;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
}
/* sec2-3 */
.sec2-3{
    background-color:#fff;   
    position:relative;
    height:150vh; 
    width:100vw;  
    color:#000;
    box-sizing: border-box;
    overflow: hidden;
}

.sec2-3 .mikung_port02_left{
    position:absolute;
    top:22vw;
    left:0px;
    width:100%;
}
.sec2-3 .mikung_port02_left img{
    display:inline-block; 
    max-width: 45vw;
    margin-left:1.5vw;
}

.sec2-3 .mikung_port02_right{
    position:absolute;
    top:52vw;
    left:0px;
    width:100%;
}

.sec2-3 .mikung_port02_right img{
    display:inline-block; 
    max-width: 45vw;
    margin-left:1.5vw;
}

/* sec2-4 */
.sec2-4{
    background-color:#F1F2F4;   
    position:relative;
    height:100vh; 
    width:100vw;  
    color:#000;
    box-sizing: border-box;
}

.sec2-4 .mikung_mobile{ 
    position:absolute;
    transform: translate(-50%,-50%);
    left:50%; 
    top:15vw;
    width:75%;
    margin:0 auto;
    background-color:red;
}
.mikung_mobile .mikung_mobile_01{
    top:0; left:0;
    position: absolute;
}
.mikung_mobile .mikung_mobile_02{
    left:50%;
    top:0;
    position: absolute;
    transform: translateX(-50%);

}
.mikung_mobile .mikung_mobile_03{
    position:absolute;
    top:0%; right:0%;
}
.mikung_mobile ul{
    width:33.3%; 
    text-align: center; 
}
.mikung_mobile img{width:20vw; display: block;}
.mikung_mobile ul li{margin-bottom:5vh;}


/* sec3 */

/* sec3-1 */
.sec3{ 
    height:100vh;
    width:100vw; 
    top:0; 
    left:0; 
    overflow:hidden;
}
.sec3-1{ 
    position:relative;
    top:0;
    right:0%; 
    height:100vh; 
    width:100vw;  
}

.sec3-1 .cont_left img{max-width:15vw;}

.sec3 .sec3-1 .cont_right{
    position:absolute; 
    background-color:#CDCDCD;
    overflow:hidden; 
    width:100vw; 
    height:180vh; 
    background-size: cover;
    overflow:hidden;

}
.sec3 .sec3-1 .cont_right img:first-child{
    position:absolute;
    top:50%; 
    left:50%; 
    transform: translate(-50%,-50%);
     max-width: 40vw;
     z-index: 3100;
}

.sec3 .sec3-1 .cont_right img:last-child{
    position:absolute;
    top:50%; 
    left:50%; 
    transform: translate(-50%,-50%);
    max-width: 40vw;
    z-index: 3010;
}

.sec3 .sec3-2{
    background: linear-gradient( -45deg, #1D1E1F, #3F3F41 );  
    position:relative;
    height:250vh; 
    width:100vw;  
    color:#fff;
    box-sizing: border-box;
}
.sec3 .sec3-2 .container .mong_img_01{
    max-width:100vw;
}
.mong_img_01 span{
    display: block;
}
.sec3 .sec3-2 .container .mong_img_02{
    margin-top:6vh;
    max-width:48vw;
    
}
.mong_img_02 span{
    display: block;
}

/* 몽드로쉐 상세페이지 라인 */
.mong_circle_line{
    position:absolute;
    width:8vw;
    height:10vh;
    bottom:8.5%;
    right:27%;
}
.mong_circle_line > div:first-child{
    display: block; 
    width:7px; 
    height:7px; 
    background-color: #fff; 
    border-radius:50%; 
    position: absolute; 
    top:0%; 
    left:0%;
}
.mong_circle_line > div:nth-child(2){
    border:0.3px solid #fff; 
    width:46%; 
    position:absolute; 
    top:2%; 
    left:2%;
}

.mong_circle_line > div:nth-child(3){
    border:0.3px solid #fff; 
    position:absolute; 
    bottom:2%; 
    left:48%; 
    height:94%;
}

.mong_circle_line > div:nth-child(4){
    border:0.3px solid #fff; 
    width:46%; 
    position:absolute; 
    bottom:2%; 
    right:4%;
}
.mong_circle_line > div:last-child{
    display: block; 
    width:7px; 
    height:7px; 
    background-color: #fff; 
    border-radius:50%; 
    position: absolute; 
    bottom:-1%; 
    right:0%;
}
.mong_img_02_right_text{
    position: absolute;
    width:18vw;
    height:25vh;
    bottom:0;
    right:0;
}
.mong_img_02_right_text p:first-child{
    font-size:1.5vw;
    font-weight: 600;
}
.mong_img_02_right_text p:nth-child(2){
    margin-top:7px;
    font-size: 0.9vw;
    line-height: 140%;
}
.mong_img_02_right_text p:nth-child(3){
    font-size:1.5vw;
    font-weight: 600;
    margin-top:5vh;
}
.mong_img_02_right_text p:nth-child(4){
    margin-top:7px;
    font-size: 0.9vw;
    line-height: 140%;
}

/* sec3-3 */
.sec3-3{
    position:relative;
    top:0;
    right:0%; 
    height:100vh; 
    width:100vw; 
    background-color: #E5E5E5;
    color:#000;
    overflow: hidden;
}
.sec3-3_circle_01{
    position:relative;
    width:80vw;
    background-color: #FAFAFA;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;

}
.sec3-3_circle_01:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}  


.sec3-3_circle_02{
    position:absolute;
    width:60vw;
    background-color: #F6F6F6;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.sec3-3_circle_02:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}  

.sec3-3_circle_03{
    position:absolute;
    width:40vw;
    background-color: #EEEEEE;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.sec3-3_circle_03:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}  
.sec3-3_frame_img{
    position: absolute;
    overflow:hidden;
    width: 44vw;
    height:50vh;
    border:10px solid #000;
    background:#131313;
    border-radius: 40px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow:hidden;
    box-shadow: 7px 7px 70px rgba(0,0,0,0.5);
}
.sec3-3_frame_img span img{
    width:100%;

}
.sec3-3_frame_img span{display: block;}

/* sec4 */
.sec4{ 
    height:100vh;
    width:100vw; 
    top:0; 
    left:0; 
    overflow:hidden;
}
.sec4-1{ 
    position:relative;
    top:0;
    right:0%; 
    height:100vh; 
    width:100vw; 
}

.sec4-1 .cont_left img{max-width:15vw;}

.sec4 .sec4-1 .cont_right{
    position:absolute; 
    background: url(../img/mega_bg.png)no-repeat top center;
    overflow:hidden; 
    width:100vw; 
    height:180vh; 
    background-size: cover;
    overflow:hidden;

}

.sec4 .sec4-1 .cont_right img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 28vw;
    display: block;
    z-index: 41000;
}
.sec4-2{
    top:0%;
    left:0%;
    width:100vw;
    height:100vh;
    position: relative;
    overflow:hidden;
    background-color: #F8F8F8;
}
.sec4-2 span{display: block;}

.sec4-2 img:first-child{
    max-width:65vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: block;
    z-index:4200;
    display: block;
}
.sec4-2 img:nth-child(2){
    max-width:30vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-40%,-40%);
    display: block;
    z-index:4210;
}
.sec4-2 img:nth-child(3){
    max-width:15vw;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-100%,-15%);
    display: block;
    z-index:4220;
}
.sec4-2 .sec4-2_text{
    position: absolute;
    left:18%;
    top:60%;
    transform: translate(-50%,-50%);
    width:25vw;
    height:40vh;
    z-index: 4300;
}
.sec4-2 .sec4-2_text p:first-child{
    font-size: 2.5vw;
    color:#000;
    font-weight:600;
}
.sec4-2 .sec4-2_text p em{
    font-size:1vw;
    color:#000;
    font-weight:100; margin-left:0.5vw;
}
.sec4-2 .sec4-2_text p:last-child{
    margin-top:2vh;
    font-size: 1vw;
    color:#000;
    font-weight:300;
    line-height: 180%;
}

.sec4-3{
    top:0%;
    left:0%;
    width:100vw;
    height:100vh;
    position: relative;
    overflow:hidden;
    background-color: #fff;
}
.sec4-3_box{
    background:url(../img/ipad_pro_13.png) no-repeat top center;
    background-size:60vw;
    width:60vw;
    height:85vh;
    position:absolute;

    top:50%; 
    left:35%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    /* border:10px solid #000; */
    /* box-shadow:2px 2px 10px rgba(0,0,0,0.5); */
}

/* .sec4-3 .sec4-3_box .sec4-3_contain{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    max-width:50vw;
    background-color:red;
    overflow: hidden;
    
} */
.sec4-3 .sec4-3_box .sec4-3_contain img{
    position: absolute;
    max-width: 50vw;
    left:50%;
    top:48vh;
    transform: translate(-50%,-50%);
}
.sec4-3 .sec4-3_box img{
    position:absolute;
    max-width:40vw;
    left:50%;
    top:18vh;
    transform:translate(-50%,-50%); 
}
.sec4-3 .sec4-3_text{
position: absolute;
top:30%;
right:0%;
transform: translate(-15%,-50%);
width:28vw;
height:10vh;
color:#000;
}
.sec4-3 .sec4-3_text p:first-child{font-size:35px; font-weight:600;}
.sec4-3 .sec4-3_text p:last-child{font-size:16px;margin-top:1.5vh; line-height:180%;}