/* layout */
body{background-color: #202020;}
#contents {
    color: #fff;
    font-size: 4vw;
}

#contents {overflow: hidden;}
#section1 {
    z-index: 1000;   
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
}
#section2 {z-index: 2000; color:#000;} 
#section3 {z-index: 3000; color:#000;}

#section4 {z-index: 4000; color:#000;}

#section5 {}

#section6 {}


.scroll {
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border:2px solid #fff;
    text-align:center;
    line-height:50px;
    z-index: 10000;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
}

/* section1 */
/* sec1 */
.sec1 {
    overflow: hidden;
    color: #fff;
    background:#202020;
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
}

.sec1 h1{
    position: absolute;
    top:60px;
    left:60px;
    font-size: 65px;
    font-weight: 100;
}

.sec1 h2{
    position: absolute;
    top:120px;
    left:60px;
    font-size: 120px;
    font-weight:800;
}
.sec1 .mode{
    position:absolute;
    right:60px; top:60px;
    width: 160px; height: 30px;
    font-size: 12px;
}
.sec1 .mode li{
    float:left;
    line-height:30px;
    margin-right:10px;
}
.sec1 .mode li:last-child{
   
    margin-right:0px;
}
.sec1 .mode li.mode_round{
    width: 74px; border:0.5px solid #fff; border-radius:18px; 
    box-sizing: border-box; line-height:26px; 
    height:29px; padding:4px 5px;
}
.sec1 .mode li.mode_round .mode_crice{width: 19px; height: 19px; border-radius: 50%; background-color: #fff; display:block;}

.sec1 .main_text_top{position:absolute;top:280px; left:60px;  z-index:1800;}
.sec1 .main_text_top p{font-size: 24px;margin-bottom:10px;}
.sec1 .main_text_top p:first-child{font-size: 14px; color:rgba(255,255,255,0.7);}

.sec1 .main_text_bottom{position:absolute; left:60px;bottom:60px;}
.sec1 .main_text_bottom p{font-size: 16px;margin-bottom:10px;}
.sec1 .main_text_bottom p:first-child{color:rgba(255,255,255,0.2);}
.sec1 .main_text_bottom p:nth-child(2){color:rgba(255,255,255,0.4);}
.sec1 .main_text_bottom p:nth-child(3){color:rgba(255,255,255,0.6);}
.sec1 .main_text_bottom p:last-child{margin-bottom:0px;color:rgba(255,255,255,0.8);}

/* lp판 */

.sec1 .lp_pan img:first-child{position:absolute;transform: translate(-50%,-50%); left:50%; top:50%;z-index: 1260; display: block;}
.sec1 .lp_pan img:nth-child(2){position:absolute; transform: translate(-50%,-50%); left:50%; top:50%; z-index: 1240; display: block;}
.sec1 .lp_pan img:nth-child(3){position:absolute; margin:auto; top:30%; left:0; bottom:0; right:0; z-index: 1200; display: block;}
.sec1 .lp_pan img:last-child{position:absolute;left:50%;bottom:-50px; transform:translateX(-50%); display: block;}

.sec1 .main_tt{position:absolute; top:300px;right: 60px; font-weight: 100; text-align: right; font-size: 35px; z-index: 1400;}

.sec1 .main_tt strong{display: block; font-size: 22px; margin-top:20px; font-weight: 300;}

.sec1 .right  {
    position: absolute;
    right:60px; bottom:60px;
    background:url(../img/follow.png) no-repeat bottom;
    width: 150px;
}
.sec1 .right p {
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 50px;
}

.sec2 {
    color: #fff;
    background:#202020;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
}

.sec2 .sec2-1{
    position:relative;
    top:0;right:0%;
}


/* 썸네일 */
.cont_left{left:10%; position:absolute; width:35%; margin-top:400px; color:#fff;}
.cont_left p:first-child{font-size:14px; font-weight:100; padding-bottom:20px;  position:relative;}
.cont_left p:first-child:after{content:''; width: 100%; height: 1px; background-color: #fff; position:absolute; top:35px; left:0;}
.cont_left p:nth-child(2){font-size:45px; font-weight:600;padding-top:20px; text-align: justify;}
.cont_left p:nth-child(2) span{font-size: 28px;}
.cont_left p:nth-child(3){margin-top:20px; font-size: 18px; line-height:160%;}
.cont_left p:nth-child(4){margin-top:15px; font-size: 14px; font-weight:100;}

/* 썸네일 버튼 */
.cont_left .cont_btn{overflow:hidden; margin-top:50px;}
.cont_left .cont_btn li{float:left;}
.cont_left .cont_btn li a{display: inline-block; padding:7px 15px; background-color: #fff; color:#333; margin-right:10px; font-size: 12px; border-radius:0 5px 0 5px;}
.sec2-1 .cont_left .cont_btn li.cont_btn_a a{background-color: #F37092; color:#fff;}
.sec3 .cont_left .cont_btn li.cont_btn_a a{background-color: #5E5D61; color:#fff;}
.cont_left .cont_btn li.cont_btn_a a{background-color: #72B9E4; color:#fff;}
.cont_left .cont_btn li.cont_btn_a a{background-color: #8C77D1; color:#fff;}
/* 미쿵 썸네일 이미지  */
.sec2 .sec2-1 .cont_right{position:absolute;background:url(../img/mikung_bg.jpg)no-repeat center; overflow:hidden; width:100vw; height:180vh; background-size: cover;}
.sec2 .sec2-1 .cont_right img:first-child{display: block;margin:0 auto;position:absolute; top:0; left:50%; transform: translateX(-50%);z-index: 2500; }
.sec2 .sec2-1 .cont_right img:nth-child(2){display: block;margin:0 auto; position:absolute; top:0; left:55%;transform: translateX(-50%);z-index: 2490; }
.sec2 .sec2-1 .cont_right img:nth-child(3){display: block;margin:0 auto; position:absolute; top:0; left:50%;transform: translateX(-50%);z-index: 2480;  }
.sec2 .sec2-1 .cont_right img:nth-child(4){display: block;margin:0 auto; position:absolute; top:0; left:45%;transform: translateX(-50%);z-index: 2470;  }
.sec2 .sec2-1 .cont_right img:nth-child(5){display: block;margin:0 auto; position:absolute; top:0; left:50%;transform: translateX(-50%);z-index: 2460;  }
/* .sec2 .sec2-1 .cont_right img:last-child{display: block;margin:0 auto; position:absolute; top:0; left:0% ; transform: translateX(-50%);} */
.sec2 .sec2-1 .cont_right p{font-weight:800;   font-size: 300px; color:rgba(255,255,255,0.2); position:absolute; top:50%; right:-100px; }
.sec2 .sec2-1 .cont_right p span{font-size:200px;}

.sec2 .sec2-2{position:absolute; color:#000; font-size: 16px;}

.box1{background-color: #F1F2F4; width:100%; height:100%; padding:150px 0;}
.box1 .sec2-2_fist_img{width:100%; display: block; margin:0 auto;}
.container{width:1280px; margin:0 auto; overflow:hidden; box-sizing: border-box; margin-bottom:50px;}
.container h3{font-size: 45px; font-weight: 700; width: 35%; float:left;}
.container h3 span{font-weight: 100; font-size: 30px;}
.container .port_text{font-weight: 300; width: 65%; float:right; text-align: justify; line-height: 180%; font-size: 18px; font-weight: 400;}
.container .port_text span{display: block; margin-top:15px;}

.box1-1{background-color:#fff; padding:150px 0; width:100vw; height:130vh; position:relative;}
.mikung_port02_left{position:absolute;}
.mikung_port02_right{position:absolute; bottom:150px;}

.box1-2{background-color:#F1F2F4;width:100vw; height:100vh; position:fixed; overflow:hidden;}
.mikung_mobile{ position:relative; width:100%; height:100vh; top:200px;}
.mikung_mobile .mikung_mobile_01{top:0; left:0;}
.mikung_mobile .mikung_mobile_02{top:6.5%; left:50%; transform: translateX(-50%);}
.mikung_mobile .mikung_mobile_03{top:0; right:0%;}
.mikung_mobile ul{width:33.3%; text-align: center; position:absolute; }
.mikung_mobile img{width:80%;}
.mikung_mobile ul li{margin-bottom:15%; text-align: center;}

.sec3{width:100vw; height:100vh; position:fixed;}
.sec3 .cont_right{position:absolute; width:90vw;  height:180vh; overflow:hidden;  background-color:#CDCDCD; background-size: cover;}
.sec3 .cont_right img{width:100%; display: block;}