@media (max-width:1280px) {
    .sec1 .circle{max-width:34vw;}
    .sec1 .main_text_bottom .main_text_bottom_s01{font-size: 1.5vw;line-height:3vw;}
    .main_t_r_b span{padding-bottom: 0.5vh;}
}
@media (max-width:960px) {
    .main_t_r_b span{padding-bottom:0vh;}
}
@media (max-width:768px) {
    .sec1 .text .t1{font-size: 5vw; line-height:6vw;}
    .sec1 .text .t2{font-size: 8.5vw;line-height: 9.5vw;}
}
@media (max-width:460px) {
    .sec1 .circle{max-width: 50vw;}
}
@media (max-width:320px) {
    .sec1 .circle {max-width: 50vw;}
}